<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Height</th>
        <th>Date of Birth</th>
        <th>Tel no.</th>
        <th>Email</th>
        <th>Addresses</th>
    </tr>
    </thead>
    <tbody>
    {% for counter_person in people_list %}
        <td>
            {{ counter_person.title }}
        </td>
        <td>
            {{ counter_person.first_name }}
        </td>
    {% endfor %}
    <tr>

    </tr>
    </tbody>
</table>


There are {{ people_list.count }} people in your address book.
</body>
</html>