{% extends "viewsintroduction/base.html" %}

{% block title %}
    <h2>Contact Details</h2>
{% endblock title %}

{% block content %}
    <table>
        <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
        <tr>
            <td>Surname</td>
            <td>{{ object.surname }}</td>
        <tr>
            <td>Height</td>
            <td>{{ object.height }}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{ object.date_of_birth }}</td>
        </tr>
        <tr>
            <td>Is Family?</td>
            <td>{{ object.is_family }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ object.address }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><a href="{% url "viewsintroduction:contact_list" %}">Back</a></td>
            <td><a href="{% url "viewsintroduction:contact_update" object.id %}">Update</a></td>
            <td><a href="{% url "viewsintroduction:contact_delete" object.id %}">Delete</a></td>
        </tr>
    </table>
{% endblock content %}