<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
    <style>
        span {
            display: block;
        }
    </style>
</head>
<body>

<h1>Cookies</h1>

<span>
{% if first_hit %}
    Your first hit!
{% else %}
    Hits: {{ hits }}
{% endif %}
</span>

<span>
    <a href="{% url 'sessionsandcookies:cookies' %}">Hit Me</a>
</span>
<span>
    <a href="{% url 'sessionsandcookies:cookies_expire' %}">Expire</a>
</span>
<span>
    <a href="{% url 'sessionsandcookies:cookies_test' %}">Test</a>
</span>
<span>
    <a href="{% url 'sessionsandcookies:index' %}">Back</a>
</span>
</body>
</html>