<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth Model</title>
    <style>
        span {
            display: block;
        }
    </style>
</head>
<body>
<h1>Auth Model</h1>

{% if user.is_authenticated %}
    <p>Welcome {{ user.first_name }} {{ user.last_name }}.</p>

{% else %}
    <p>Please log in.</p>
{% endif %}

<span>
    <a href="{% url 'auth:login_create' %}">Create Login</a>
</span>
<span>
    <a href="{% url 'auth:login' %}">Login</a>
</span>
<span>
    <a href="{% url 'auth:logout' %}">Logout</a>
</span>
<span>
    <a href="{% url 'auth:users' %}">Registered Users</a>
</span>
<span>
    <a href="{% url 'auth:users2' %}">Registered Users 2</a>
</span>
</body>
</html>