<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        span {
            display: block;
        }
    </style>
</head>
<body>
<h1>Hello World</h1>
    <span>
        <a href="{% url 'helloworld:hello' %}">Hello</a>
    </span>
    <span>
        <a href="{% url 'helloworld:loader' %}">Template Loader</a>
    </span>
    <span>
        <a href="{% url 'helloworld:template' %}">Template</a>
    </span>
    <span>
        <a href="{% url 'helloworld:model' %}">Model</a>
    </span>
</body>
</html>



