<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Collection & Templates</title>

    <style>
        span{ display: block; }
    </style>
</head>
<body>

<h1>Collection & Templates</h1>


<h2>Iteration with for, endfor tags</h2>
<ul>
    {%  for colour in colours %}
    <li>
        {{  colour }}
    </li>
    {% endfor %}
</ul>


<h2>Iteration with unpacking</h2>
<ul>
    {% for number, letter in lettersandordinals %}
        <li>
            {{ number }} ({{ letter  }})
        </li>
    {% endfor %}
</ul>


<h2>The empty tag, an if for collection iterations</h2>
{% for empty in emptycollection %}
    The collection is not empty
    {%  empty %}
    This collection is empty!!!
{% endfor %}


<h2>Loop variables</h2>
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>forloop.counter</th>
            <th>forloop.counter0</th>
            <th>forloop.revcounter</th>
            <th>forloop.revcounter0</th>
            <th>forloop.first</th>
            <th>forloop.last</th>
        </tr>
    </thead>
    {% for number in numbers  %}
    <tr>
        <td>
            {{ number }}
        </td>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            {{ forloop.counter0 }}
        </td>
        <td>
            {{ forloop.revcounter }}
        </td>
        <td>
            {{ forloop.revcounter0 }}
        </td>
        <td>
            {{ forloop.first }}
        </td>
        <td>
            {{ forloop.last }}
        </td>
    </tr>
    {% endfor %}
</table>
{#forloop.parentloop can be used to access the forloop of any parent loop#}


<h2>Key value pair iteration</h2>
<ul>
    {% for key, value in worldcities.items %}
        <li>
            {{ key }} : {{ value }}
        </li>
    {% endfor %}
</ul>


<h2>Backwards iteration with the reversed tag</h2>
<ul>
{% for number in numbers reversed %}
    <li>
        {{ number }}
    </li>
{% endfor %}
</ul>


<h2>Iteration identification with the cycle flag</h2>
<table>
    <thead>
        <tr>
            <th>Colour</th>
            <th>Cycle</th>
            <th>Cycle as a variable</th>
        </tr>
    </thead>

    {% for colour in colours %}
        <tr>
            <td>
                {{  colour }}
            </td>
            <td>
                {#Strings, numbers, varaibles can all be used #}
                {#Use silent when you don't to iterate through the counts#}
                {% cycle 'odd' 'even' as oddeven%}
            </td>
            <td>
                {{ oddeven }}
            </td>
        </tr>
    {% endfor %}
</table>


<h2>Determining variable change with ifchanged endifchanged tags</h2>
<ul>
    {% for number in duplicatednumbers %}
        <li>
            {{ number }}
            {% ifchanged number %} {#  can take multiple arguments #}
                (changed)
            {% else %}
                (not changed)
            {% endifchanged %}
        </li>
    {% endfor %}
</ul>

<h2>Automatic lists with unordered_list</h2>
{{ numbers|unordered_list }}


<h2>Sorting dictionaries with dictsort</h2>
{{ boysandgirls|dictsort:"age" }}


<h2>Reverse sorting dictionaries with dictsortreversed</h2>
{{ boysandgirls|dictsortreversed:"age" }}


<h2>Grouping with the regroup tag</h2>
{% regroup boysandgirls|dictsort:"sex" by sex as boys_and_girls_grouped  %}
{#The grouping does not sort the data. | through dictsort if required#}
<ul>
{% for sex_group in boys_and_girls_grouped %}
    <li>{{ sex_group.grouper | capfirst }}
    <ul>
        {% for item in sex_group.list %}
          <li>{{ item.name }}: {{ item.age }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>


<h2>Joining elements with the join tag</h2>
<span>
    {{ numbers|join:":" }}
</span>


<h2>First and Last element tag</h2>
<span>
    First of {{ numbers }} is {{ numbers|first }}
</span>
<span>
    Last of {{ numbers }} is {{ numbers|last }}
</span>


<h2>Length and Lengthis tag</h2>
<span>
    {{ numbers }} has {{ numbers|length }} elements
</span>
<span>/
    Is {{ numbers }} 10 in length? {{ numbers|length_is:"10" }}
</span>


<h2>Making lists from variables with make_list</h2>
<span>
    123456789 becomes {{ 123456789|make_list  }}
</span>
<span>
    Hello becomes {{ "Hello"|make_list  }}
</span>


<h2>Grabbing a random element</h2>
<span>
    A random of {{ numbers }} is {{ numbers|random }}
</span>


<h2>Slicing a collections</h2>
<span>
    The first two of {{ numbers }} is {{ numbers|slice:":2"}}
</span>
<span>
    The last two of {{ numbers }} is {{ numbers|slice:"-2:"}}
</span>
<span>
    Elements 5 to 8 {{ numbers }} is {{ numbers|slice:"4:8"}}
</span>
</body>
</html>