<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Includes</title>
    {% load staticfiles %}
</head>
<body>

<h1>Templates & Includes</h1>

<h2>Includes</h2>

{% include "templatesintroduction/include_one.html" %}
{% include "templatesintroduction/include_one.html" with msg="This was overridden!!!" %}
{% include "templatesintroduction/include_one.html" with foo="foo" only %}

<h2>SSI</h2>

If this pointed to a static file we would include the contents!!!

{% ssi "/css/styles.css" %}

</body>
</html>