<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>

    <style>
        span{ display: block; }
    </style>
</head>
<body>

<h1>Templates</h1>
    <span>
        <a href="{% url 'templatesintroduction:index'%}">Index</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:collections'%}">Collections</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:conditions'%}">Conditions</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:dates'%}">Date & Times</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:debug'%}">Debug</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:extension'%}">Extensions</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:includes'%}">Includes</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:numbers'%}">Numbers</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:strings'%}">Strings</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:urls'%}">URLs</a>
    </span>
</body>
</html>

