<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        span {
            display: block;
        }
    </style>
</head>
<body>
<h1>Home</h1>
    <span>
        <a href="{% url 'helloworld:index' %}">Hello World</a>
    </span>
    <span>
        <a href="{% url 'templatesintroduction:index' %}">Templates</a>
    </span>
    <span>
        <a href="{% url 'viewsintroduction:contact_list' %}">Views</a>
    </span>
    <span>
        <a href="{% url 'formsintroduction:index' %}">Forms</a>
    </span>
    <span>
        <a href="{% url 'auth:index' %}">Auth Model</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:index' %}">Errors/Logging</a>
    </span>
    <span>
        <a href="{% url 'sessionsandcookies:index' %}">Sessions/Cookies</a>
    </span>
    <span>
        <a href="{% url 'ajax:index' %}">AJAX</a>
    </span>
</body>
</html>