<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sessions and Cookies</title>
    <style>
        span {
            display: block;
        }
    </style>
</head>
<body>
<h1>Sessions and Cookies</h1>
    <span>
        <a href="{% url 'errorsandlogging:error_if_not_get_or_post' %}">Only Get/Post</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:error_as_404' %}">404</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:error_as_custom_404' %}">Custom 404</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:not_allowed' %}">Not Allowed</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:error_if_not_get' %}">Only Get</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:error_if_not_post' %}">Only Post</a>
    </span>
    <span>
        <a href="{% url 'errorsandlogging:logger' %}">Logger</a>
    </span>
</body>
</html>